html {
  font-family: poppins, sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

p {
  font-weight: 200;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
}

img {
  position:absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
}

body {
  background-color: rgb(241, 241, 241);
  margin: 0 200px;
}

h1, h3 {
  margin: 0;
  color: hsl(234, 12%, 34%);
}

.heading1 {
  font-weight: 200;

}

.heading2 {
  font-weight: 600;
}

.intro {
  padding: 80px 0px 50px;
  width: 535px;
  margin: 0 auto;
  text-align: center;
}

.cards {
  padding: 30px 30px 120px 30px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0px 27px 60px -45px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 27px 60px -45px rgba(0,0,0,0.75);
  box-shadow: 0px 27px 60px -45px rgba(0,0,0,0.75);
}

.card1 {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.card2 {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.card3 {
  margin: 30px 0px;
  border-top: 5px solid hsl(34, 97%, 64%);
}

.card4 {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.colum1 {
  width: 30%;
}

.colum2 {
  width: 30%;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
  body {
  margin: 0 100px;
}
}

@media only screen and (max-width: 1000px) {
  body {
  margin: 0 50px;
}
}

@media only screen and (max-width: 800px) {
  body {
  margin: 0 0px;
}
}

@media only screen and (max-width: 640px) {
  .main {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.colum1 {
  width: 90%;
}

.colum2 {
  width: 90%;
}

.card2 {
  margin: 30px 0px;
}

.intro {
  width: 90%;
}
}